n8n-propuesta-workflow.json
{
  "name": "Análisis de prospectos Pluxow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "propuesta-analysis",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "pluxow-node-001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "propuesta-analysis"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.body.url }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 15000,
          "redirect": {
            "redirect": {
              "followRedirects": true,
              "maxRedirects": 5
            }
          }
        }
      },
      "id": "pluxow-node-002",
      "name": "Fetch Website",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const html = String($input.first().json.data || $input.first().json.body || '');\nconst text = html\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/&[a-z#0-9]+;/gi, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim()\n  .slice(0, 8000);\n\nconst url = $('Webhook').first().json.body.url;\n\nif (!text || text.length < 50) {\n  return [{ json: { error: 'No se pudo leer el contenido del sitio. Puede estar bloqueando bots.' } }];\n}\n\nreturn [{ json: { text, url } }];"
      },
      "id": "pluxow-node-003",
      "name": "Clean HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  system_instruction: {\n    parts: [{\n      text: 'Sos un analista de ventas de Pluxow, empresa argentina de automatización e inteligencia operativa.\\n\\nSERVICIOS DE PLUXOW:\\n1. Dashboards y reportes automáticos — Métricas clave en tiempo real, sin exportar planillas.\\n2. Chatbots con IA — Consultas frecuentes, calificación de leads y soporte 24/7.\\n3. Automatización financiera y administrativa — Facturación y gestión sin errores manuales.\\n4. Automatización de flujos de trabajo — Conectar herramientas, eliminar pasos repetitivos.\\n5. Agentes de lectura de documentos — IA que lee contratos, facturas y formularios.\\n6. Consultoría en estrategia digital — Diagnóstico de procesos y hoja de ruta tecnológica.\\n7. Diseño web, visible para la IA — Sitio optimizado para ser encontrado por ChatGPT, Perplexity, Grok.\\n\\nAnalizá el contenido de la web de un prospecto y devolvé ÚNICAMENTE un JSON válido con este formato exacto:\\n{\\n  \"empresa\": \"nombre detectado\",\\n  \"sector\": \"sector o industria\",\\n  \"resumen\": \"qué hace la empresa en 1-2 oraciones\",\\n  \"servicios\": [\\n    {\\n      \"nombre\": \"nombre exacto del servicio de Pluxow\",\\n      \"relevancia\": \"alta o media\",\\n      \"argumento\": \"por qué encaja específicamente con esta empresa, 1-2 oraciones concretas\"\\n    }\\n  ],\\n  \"apertura\": \"frase sugerida para abrir la reunión con este cliente\"\\n}\\nSolo incluí servicios con relevancia alta o media. Sin texto fuera del JSON.'\n    }]\n  },\n  contents: [{\n    role: 'user',\n    parts: [{ text: 'Contenido del sitio (' + $json.url + '):\\n\\n' + $json.text }]\n  }],\n  generationConfig: {\n    temperature: 0.3,\n    maxOutputTokens: 2048\n  }\n}) }}",
        "options": {}
      },
      "id": "pluxow-node-004",
      "name": "Gemini Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const input = $input.first().json;\n\n// Si el nodo anterior pasó un error (sitio no legible)\nif (input.error) {\n  return [{ json: { error: input.error } }];\n}\n\n// Extraer el texto generado por Gemini\nconst raw = input.candidates?.[0]?.content?.parts?.[0]?.text || '';\n\n// Buscar el bloque JSON en la respuesta\nconst match = raw.match(/\\{[\\s\\S]*\\}/);\nif (!match) {\n  return [{ json: { error: 'No se pudo generar el análisis. Intentá de nuevo.' } }];\n}\n\ntry {\n  const result = JSON.parse(match[0]);\n  return [{ json: result }];\n} catch (e) {\n  return [{ json: { error: 'Error al procesar la respuesta de la IA.' } }];\n}"
      },
      "id": "pluxow-node-005",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type",                "value": "application/json" },
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "pluxow-node-006",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1100, 300]
    }
  ],
  "connections": {
    "Webhook":          { "main": [[{ "node": "Fetch Website",    "type": "main", "index": 0 }]] },
    "Fetch Website":    { "main": [[{ "node": "Clean HTML",       "type": "main", "index": 0 }]] },
    "Clean HTML":       { "main": [[{ "node": "Gemini Analysis",  "type": "main", "index": 0 }]] },
    "Gemini Analysis":  { "main": [[{ "node": "Parse AI Response","type": "main", "index": 0 }]] },
    "Parse AI Response":{ "main": [[{ "node": "Respond to Webhook","type": "main","index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "pluxow" }]
}
