n8n-chat-workflow.json
{
  "name": "Chat de prospectos Pluxow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "propuesta-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "chat-node-001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "propuesta-chat"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const body = $input.first().json.body;\nconst messages = body.messages || [];\nconst service = body.service || {};\nconst empresa = body.empresa || {};\n\nconst systemPrompt = `Sos un asistente interno de Pluxow que ayuda al equipo comercial a prepararse para reuniones con prospectos. Tu rol es ser el puente entre el equipo de ventas y la visión técnica del CTO.\n\nSOBRE PLUXOW:\nPluxow es una empresa argentina de automatización e inteligencia operativa. Diseñamos procesos más eficientes que liberan tiempo y mejoran el rendimiento de los negocios.\n\nSERVICIOS DE PLUXOW:\n• Dashboards y reportes automáticos — Métricas clave en tiempo real, sin exportar planillas\n• Chatbots con IA — Atención automática, calificación de leads y soporte 24/7\n• Automatización financiera y administrativa — Facturación y gestión sin errores manuales\n• Automatización de flujos de trabajo — Conectar herramientas, eliminar pasos repetitivos\n• Agentes de lectura de documentos — IA que lee contratos, facturas y formularios\n• Consultoría en estrategia digital — Diagnóstico de procesos y hoja de ruta tecnológica\n• Diseño web, visible para la IA — Sitio optimizado para ChatGPT, Perplexity y Grok\n\nTU ESTILO:\n• Consultivo: hacés preguntas para entender el contexto antes de dar respuestas largas\n• Sin tecnicismos ni palabras en inglés. Si algo técnico es inevitable, lo explicás con un ejemplo\n• Usás viñetas (•) cuando hay varios puntos\n• Agregás ejemplos concretos para mostrar el valor real de cada automatización\n\nCUANDO EL PROSPECTO NO VE EL VALOR:\nAyudá al compañero a hacer las preguntas correctas para descubrir los dolores reales:\n• ¿Cuántas horas por semana dedican hoy a esa tarea?\n• ¿Qué errores o demoras genera ese proceso?\n• ¿Qué podrían hacer con ese tiempo si lo recuperaran?\nEl objetivo es que el cliente lo vea con sus propios números.\n\nSOBRE REDES SOCIALES — MUY IMPORTANTE:\nSi el servicio involucra conectar redes sociales (Instagram, Facebook, WhatsApp Business, LinkedIn, TikTok), explicá que hay un proceso técnico previo que maneja el CTO:\n• Hay que crear una App oficial en la plataforma de la red social\n• Hay que solicitar y esperar aprobación de permisos (puede demorar días o semanas)\n• El vendedor debe saberlo para no generar falsas expectativas con el cliente\n• Cómo comunicarlo: \"hay un proceso inicial de configuración técnica antes de arrancar\"\n\nNUNCA PROMETÁS:\n• Costos ni presupuestos (los define el CTO)\n• Tiempos de implementación (dependen del alcance técnico)\n• Funcionalidades no confirmadas\n\nHACÉ PREGUNTAS:\nAntes de dar una respuesta elaborada, preguntá por el contexto. Por ejemplo: \"¿Ya tuviste alguna conversación con este cliente?\" o \"¿Qué aspecto del servicio te genera más dudas para explicarlo?\"\n\nCONTEXTO DE ESTA SESIÓN:\nServicio en foco: ${service.nombre || 'no especificado'}\nPor qué encaja con este prospecto: ${service.argumento || 'no especificado'}\nEmpresa prospecto: ${empresa.empresa || 'no especificada'}\nSector: ${empresa.sector || 'no especificado'}\nResumen del negocio: ${empresa.resumen || 'no especificado'}`;\n\n// Convertir historial al formato Gemini (user / model)\nconst contents = messages.map(m => ({\n  role: m.role === 'assistant' ? 'model' : 'user',\n  parts: [{ text: m.content }]\n}));\n\n// Gemini requiere que el primer mensaje sea del usuario\nif (!contents.length || contents[0].role !== 'user') {\n  contents.unshift({ role: 'user', parts: [{ text: 'Hola' }] });\n}\n\nreturn [{ json: { systemPrompt, contents } }];"
      },
      "id": "chat-node-002",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ system_instruction: { parts: [{ text: $json.systemPrompt }] }, contents: $json.contents, generationConfig: { temperature: 0.4, maxOutputTokens: 1024 } }) }}",
        "options": {}
      },
      "id": "chat-node-003",
      "name": "Gemini Chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const raw = $input.first().json.candidates?.[0]?.content?.parts?.[0]?.text || '';\nreturn [{ json: { reply: raw.trim() } }];"
      },
      "id": "chat-node-004",
      "name": "Extract Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type",                "value": "application/json" },
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "chat-node-005",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [880, 300]
    }
  ],
  "connections": {
    "Webhook":     { "main": [[{ "node": "Build Prompt",       "type": "main", "index": 0 }]] },
    "Build Prompt":{ "main": [[{ "node": "Gemini Chat",        "type": "main", "index": 0 }]] },
    "Gemini Chat": { "main": [[{ "node": "Extract Reply",      "type": "main", "index": 0 }]] },
    "Extract Reply":{ "main": [[{ "node": "Respond to Webhook","type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "pluxow" }]
}
